.menuCard {
    width: 18vw;
    height: 56vh;
    border: 2px solid black;
    border-radius: 2vw;
    background-color: rgb(58, 110, 72);
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}
.menuCard div > *{
    text-align: center;
    margin: 0;
}
.menuCard h3{
    margin-top: 0.25vw;
    font-size: x-large;
    margin-bottom: 1vw;
    color: white;
}
.menuCard div button{
    background-color: rgb(94, 132, 92);
    border: 0;
    width: 60%;
    height: 7vh;
    font-size: large;
    font-weight: 700;
    border-radius: 1vw;
    margin-top: 5%;
    justify-self: flex-end;
    align-self: center;
    color: white;
    transition: transform 1s;
}
.menuCard div button:hover{
    transform: scale(1.25);
}
.menuCard div p{
    margin-top: 1vw;
}
.menuCard div p:nth-child(3){
    font-size: x-large;
    font-weight: 700;
}
.menuCard img{
    width: 100%;
    height: 40%;
    border-radius: 2vw 2vw 0 0;
    border-bottom: 0.2vw solid black;
}
.menuCard div{
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.menuCard:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 61px 12px rgba(107, 193, 104, 0.918);
    border: 1px solid rgb(3, 135, 3);
}
.cardBox{
    justify-content: center;
    display: flex;
    gap: 3vw;
}
.buy{
    position:fixed;
    width: 25%;
    height: fit-content;
    left: 38%;
    top:20%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.buy form{
    width: 100%;
    height: 100%;
    background-color: rgba(58, 110, 72, 0.752); 
    padding: 2vw;
    box-sizing: border-box;
    border-radius: 3vw;
}
.buy form > div > *, .buy form > *{
    display: block;
}

.buy input{
    width: 70%;
    height: 5%;
}
.buy input[type="number"]{
    display: inline-block;
    width: 25%;
}
.buy label{

}
.buy label:has(input[type="radio"]){
    display: inline-block;
    text-align: center;
}
.buy button{
    
}
.rez{
    display: flex;
    justify-content: center;
    align-items: center; ;
    color: White;
    
}

.rez input{
    border-radius: 5px;
}

.rez label{
    padding: 5px;
}

.rez textarea{
    font-weight: 50%;
    border-radius: 7px;
    text-align: left;
    border: solid 0px;
}

.rez form{
    background-color: rgba(58, 110, 72);
    border-radius: 15px;
    width: 34%;
    height: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.rez form > *{
    display: block;
}
.rez button{
    height: 5%;
    width: 15%;
    background-color: white;
    border: solid 1px black;
    border-radius: 5px;
    align-self: center;
    margin: 5px;
}

header{
    position: fixed;
    width: 100%;
    background-color: rgb(94, 132, 92);
    height: 10vh;
    margin-bottom: 1vw;
    z-index: 100;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 5vh;
}
nav ul li:has(> a:hover){
    transform: scale(1.25);
    border-bottom: 0.25vw solid rgb(58, 110, 72);
}
nav{
    text-align: center;
}
nav ul{
   list-style-type: none; 
   width: 100%;
   text-align: center;
   display: flex;
   justify-content: space-evenly;
   padding: 0;
}
nav ul li{
    transition: transform 1s;
}
.phantomHeader{
    width: 100%;
    height: 10vh;
    margin-bottom: 1vh;
}
form > .cardInfo{
    display: none;
}
body{
    position: relative;
    background-color: rgb(203, 239, 202);
    margin: 0;  
}
footer{
    background-color: rgb(94, 132, 92);
    width: 100%;
    height: 8vh;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding: 0.25vw;
    box-sizing: border-box;
    align-items: center;
    gap: 0.25vw;
    
} 
footer button{
    width: 2vw;
    height: 2vw;
    font-size: 4vh;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 0;
    background-color: rgb(58, 110, 72);
    color: white;
    border: 1px solid rgb(30, 57, 37);
    transition: transform 0.5s, background-color 0.5s;
    
}
footer button:hover{
    transform: scale(1.25);
    background-color: rgb(122, 219, 118);
}
.phantomFooter{
    width: 100%;
    height: 8vh;
}
footer p{
    color: white;   
    width: fit-content;
}
.support{
    display: none;
}
textarea{
    resize: none;
}
.main > article{
    display: flex;
}
.main aside img{
    width: 40vw;
    border-radius: 100%;
    box-shadow: 0px 0px 72px 13px rgba(82, 189, 78, 0.8);
    border: 0.2vw solid rgb(122, 219, 118);
    transition: transform 1s;
}
.main aside img:hover{
    transform: scale(1.05);
}
.main article{
    padding: 1vw;
}
.main article:nth-child(1) section{
    text-align: right;
}
.main article section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main article p{
    font-size: large;
    margin-top: 0.5vw
}
.main h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
}